/* 
    Created on : Apr 20, 2016, 12:46:26 PM
    Author     : Ardi
*/

.select2-container--default .select2-selection--single {
	height: 34px;
	border-radius: 4px;
}

.select2-dropdown, 
.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding: 3px 12px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
}

.required {
	font-weight: bold;
	color: red;
}

.page-title {
    padding: 20px 20px 20px 0;
    display: block;
    position: relative;
}

